[Bb]in/
[Oo]bj/
[Aa]rtifacts/
[Oo]ut/
# MSBuild logs
*.log
*.tlog
*.lastbuildstate

.vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.vssscc
*.ide/

.vscode/*
# Allow sharing of these config files for team consistency
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
.history/

*.mdf
*.ldf
*.ndf
*.sdf
*.sqlproj.user
App_Data/*.mdf
App_Data/*.ldf


appsettings.Development.json
appsettings.Local.json
secrets.json
.env
.env.*
!.env.example

node_modules/
/wwwroot/lib/
dist/
.sass-cache/

.DS_Store
Thumbs.db